
    <div class="min-h-[100vh] flex flex-col items-center lg:justify-center md:justify-center">
        <span class="text-center text-3xl font-semibold mt-4 mb-4">Empresas Trabalhadas</span>
        <div class="flex flex-wrap justify-center items-center gap-4">
            <div
                class="lg:w-[40rem] lg:h-[11rem] md:w-[40rem] md:h-[12rem] w-[15rem] h-[22rem] border p-2 rounded-lg bg-colorSideBar shadow-xl">
                <div
                    class="flex flex-col items-center text-center lg:flex lg:flex-row lg:items-center md:flex md:flex-row md:items-center">
                    <img src="../../../assets/dnaxis_logo_2.png"
                        class="w-[4.2rem] border p-2 rounded-lg bg-white shadow-lg" alt="">
                    <span class="ml-2 mt-2"><b class="text-xl">Dnaxis Informática</b> - Maio 2024 / Setembro 2024</span>
                </div>
                <p class="text-center md:text-left lg:text-left pt-3">{{dnaxisInformatica}}</p>
            </div>
            <div
                class="lg:w-[40rem] lg:h-[11rem] md:w-[40rem] md:h-[12rem] w-[15rem] h-[22rem] border p-2 rounded-lg shadow-xl bg-colorSideBar">
                <div
                    class="flex flex-col items-center text-center lg:flex lg:flex-row lg:items-center md:flex md:flex-row md:items-center">
                    <img src="../../../assets/Simbolo-Online-App-1.png"
                        class="w-[4.2rem] border p-2 rounded-lg bg-white shadow-lg" alt="">
                    <span class="ml-2 mt-2"><b class="text-xl">Online Applications</b> - Março 2022 / Fevereiro
                        2023</span>
                </div>
                <p class="text-center md:text-left lg:text-left pt-3">{{onlineApplications}}</p>
            </div>
        </div>
    </div>
