<div class="min-h-[20vh] flex flex-col">
    <span class="text-center text-3xl font-semibold mb-6">Contatos</span>
    <div class="flex flex-wrap justify-center items-center gap-4">
        <a href="https://github.com/guipavezzi" target="_blank" class="p-2 shadow bg-colorSideBar md:w-auto rounded-xl mr-5">
            <span class="icon-[mdi--github] icons" style="color: black;"></span>
        </a>
        <a href="https://www.linkedin.com/in/guilherme-pavezzi-029361206/" target="_blank" class="p-2 md:w-auto shadow bg-colorSideBar rounded-xl">
            <span class="icon-[mdi--linkedin] icons" style="color: black;"></span>
        </a>
        <a href="mailto:gui.pavezzi07@gmail.com" target="_blank" class="p-2 shadow bg-colorSideBar rounded-xl ml-5 md:w-auto ">
            <span class="icon-[mdi--gmail] icons" style="color: black;"></span>
        </a>
        <a href="https://wa.me/5519991676189" target="_blank" class="p-2 shadow bg-colorSideBar rounded-xl ml-5 md:w-auto">
            <span class="icon-[mdi--whatsapp] icons" style="color: black;"></span>
        </a>
    </div>
</div>