<div class="min-h-[100vh] flex flex-col items-center justify-center">
    <span class="text-3xl font-medium text-center mb-[2rem]">Sobre mim</span>
    <p class="max-w-lg sm:max-w-[14rem] md:max-w-[30rem] lg:max-w-[60rem] text-center font-medium text-lg overflow-auto">
      {{ about }}
    </p>    
    <span class="font-semibold text-2xl mt-[4rem] mb-[2rem]">Habilidades</span>
    <div class="flex flex-wrap justify-center items-center gap-4">
        <div class="border-icons w-full md:w-auto">
          <span class="icon-[devicon-plain--csharp] icons" style="color: black;"></span>
          <span class="name">CSharp</span>
        </div>
        <div class="border-icons w-full md:w-auto">
          <span class="icon-[devicon-plain--dotnetcore] icons" style="color: black;"></span>
          <span class="name">Dotnet</span>
        </div>
        <div class="border-icons w-full md:w-auto">
          <span class="icon-[devicon-plain--angularjs] icons" style="color: black;"></span>
          <span class="name">Angular</span>
        </div>
        <div class="border-icons w-full md:w-auto">
          <span class="icon-[devicon-plain--javascript] icons" style="color: black;"></span>
          <span class="name">Javascript</span>
        </div>
        <div class="border-icons w-full md:w-auto">
          <span class="icon-[devicon-plain--typescript] icons"></span>
          <span class="name">Typescript</span>
        </div>
        <div class="border-icons w-full md:w-auto">
          <span class="icon-[mdi--database] icons" style="color: black;"></span>
          <span class="name">SQL</span>
        </div> 
        <!-- <div class="border-icons w-full md:w-auto">
          <span class="icon-[devicon-plain--python] icons" style="color: black;"></span>
          <span class="name">Python</span>
        </div> -->
        <div class="border-icons w-full md:w-auto">
          <span class="icon-[mdi--tailwind] icons" style="color: black;"></span>
          <span class="name">Tailwind</span>
        </div>
      </div>
</div>