<div class="fixed top-16 md:top-6 right-6 z-[100] flex gap-3">
  <button
    (click)="changeLang('pt')"
    [ngClass]="{
      'ring-2 ring-purple-400': currentLang === 'pt',
      'ring-1 ring-slate-700': currentLang !== 'pt'
    }"
    class="w-12 h-12 rounded-full bg-white/10 backdrop-blur-md hover:bg-white/20 transition-all shadow-lg border-2 border-white/50 overflow-hidden p-0 flex items-center justify-center"
    aria-label="Português"
  >
    <img src="assets/flags/br-flag.png" alt="Bandeira do Brasil" class="w-full h-full object-cover" />
  </button>
  <button
    (click)="changeLang('en')"
    [ngClass]="{
      'ring-2 ring-cyan-400': currentLang === 'en',
      'ring-1 ring-slate-700': currentLang !== 'en'
    }"
    class="w-12 h-12 rounded-full bg-white/10 backdrop-blur-md hover:bg-white/20 transition-all shadow-lg border-2 border-white/50 overflow-hidden p-0 flex items-center justify-center"
    aria-label="English"
  >
    <img src="assets/flags/eua-flag.png" alt="Bandeira dos EUA" class="w-full h-full object-cover" />
  </button>
</div>
