<span class="absolute lg:fixed text-black text-4xl top-5 left-4 cursor-pointer" (click)="toggleSidebar()">
    <mat-icon class="px-2 center rounded-md">menu</mat-icon>
</span>

<div
    [ngClass]="{'sidebar-open': (sidebarService.sidebarStatus$ | async), 'sidebar-closed': !(sidebarService.sidebarStatus$ | async)}"
    class="sidebar overflow-hidden fixed inset-0 lg:left-0 lg:w-[300px] w-full transition-transform duration-500 z-50 p-2 bg-colorSideBar shadow h-screen max-h-screen flex flex-col"
    style="pointer-events: auto;"
>
    <div class="text-black text-xl flex-grow-auto">
        <div class="p-2.5 mt-1 flex items-center justify-between rounded-md">
            <mat-icon>description</mat-icon>
            <span class="text-[15px] ml-3 text-xl text-black font-semibold">Portfólio</span>
            <button (click)="toggleSidebar()">
                <mat-icon class="text-black">close</mat-icon>
            </button>
        </div>

        <div>
            <div class="flex flex-col justify-center items-center mt-4">
                <div class="w-48 h-48 rounded-full overflow-hidden border-2 border-black">
                    <img src="../../../assets/myPic.png" alt="Sua Foto" class="w-full h-full object-cover ">
                </div>
                <span class="text-2xl font-bold text-black mt-4">Guilherme Pavezzi</span>
            </div>

            <hr class="my-2 text-black">

            <div>
                <a (click)="scrollTo('home')" class="p-2.5 hover:bg-colorSideBarHover mt-2 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-sidebarColorHover">
                    <mat-icon class="text-black">home</mat-icon>
                    <span class="text-[15px] ml-4 text-black font-medium">Home</span>
                </a>
                <a (click)="scrollTo('about')" class="p-2.5 mt-2 hover:bg-colorSideBarHover flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-sidebarColorHover">
                    <mat-icon class="text-black">person</mat-icon>
                    <span class="text-[15px] ml-4 text-black font-medium">Sobre mim</span>
                </a>
                <a (click)="scrollTo('companiesWorked')" class="p-2.5 mt-2 hover:bg-colorSideBarHover flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-sidebarColorHover">
                    <mat-icon class="text-black">work</mat-icon>
                    <span class="text-[15px] ml-4 text-black font-medium">Empresas trabalhadas</span>
                </a>
                <a (click)="scrollTo('contacts')" class="p-2.5 mt-2 hover:bg-colorSideBarHover flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-sidebarColorHover">
                    <mat-icon class="text-black">call</mat-icon>
                    <span class="text-[15px] ml-4 text-black font-medium">Contatos</span>
                </a>
            </div>
        </div>
    </div>
</div>
