html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-attachment: fixed;
  min-height: 100vh;
  @apply bg-slate-50 dark:bg-colorBody text-slate-900 dark:text-white;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Glassmorphism base */
@layer components {
  .glass {
    @apply bg-white/5 backdrop-blur-md border-2 border-white/50;
  }
  .glass-lg {
    @apply bg-gradient-to-br from-white/5 to-white/10 backdrop-blur-md border-2 border-gray-800/30 shadow-xl shadow-purple-400/20;
  }
}